*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google-font */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* navigation bar */
nav{
    display: flex;
    width: 100%;
    /* max-width: 1600px; */
    height: 92px;
    /* border: 2px solid red; */
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 16px 120px;
}
.logo{
    width: 139px;
    height: 60px;
    justify-content: flex-start;
    
}
.menu{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    list-style: none;
    
}
.menu ul  li{
    font-style: medium;
    font-size: 16px;
    letter-spacing: 0%;
    font-weight: 500px;
    text-transform: capitalize;
    width: 102px;
    height: 24px;

}
ul li a{
    text-decoration: none;
    color: #000000;

}

button{
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    padding: 16px 16px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
button img{
    text-align: right;
}
.btn{
    background-color: transparent;
    border: 1px solid #f4ecec;
    color: rgba(255, 255, 255, 1);
    padding: 16px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    gap: 16px;
}
.hero-bg .btn2{
    color: #469165;
    background-color: #fff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
    gap: 16px;
}
.hero-bg{
    background-image:url(../assets/hero-bg.png);
    align-items: center;
    padding: 70px;
    /* width: 2042px; */
    height: 600px;
    text-align: center;
    justify-content: center;

}

.hero-bg h1 span{
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 24px;

}
.hero-bg h1 .span1{
    color: #30B868;
}

.hero-bg p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 24px 0;
    height: 60px;
}
 

#structure{
    padding-top: 80px;
    
}
.section-heading{
    text-align: center;
    margin: 0 auto;
}
.section-heading h1{
    font-size: 48px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
    margin-bottom: 28px;
}

#structure .structure-container{
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
}
#structure .structure-container .structure-box{
    display: flex;
    gap: 24px;
    margin-bottom: 77px;
}
.structure-box .structure-card{
    padding: 24px;
    /* border: 1px solid red; */
    box-sizing: 0, 6, 10, 0,#000000;
    max-width: 322px;
}
.structure-card img{
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
}
.structure-card h3{
    font-size: 24px;
    margin-bottom: 16px;
    color: #001931;
}
.structure-card p{
    font-size: 16px;
    color: #627382;
    line-height: 16px;

}
#knowledge{
    display: flex;
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
    padding: 120px 0;
}
#knowledge .knowledge-img{
    /* width: 660px;
    height: 400px;
    margin: 0 auto;
    text-align: left; */
    width: 100%;
    max-width: 500px;
}
#knowledge .knowledge-containe{
    width: 740px;
    height: 397px;
    margin: 0 auto;

}
.knowledge-containe{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#knowledge .knowledge-containe h6{
    height: 20px;
    color: #469165;
    font-weight: 500px;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;
}
#knowledge .knowledge-containe h1{
    text-align: center;
    color: #001931;
    font-size: 48px;
    margin-bottom: 16px;
}
#knowledge .knowledge-containe p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
#knowledge .knowledge-containe .list-itame{
    margin-bottom: 16px;
    color: #001931;
    font-size: 13px;
    line-height: 24px;
}
.knowledge-containe .list-itame ul{
    list-style: none;
}
.knowledge-containe .list-itame ul li img{
    padding: 1.88px;
    margin-bottom: px;
}

#early{
    width: 71%;
    max-width: 1600px;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #F7F6F2;
    height: 385px;
    justify-content: center;

}
#early .early-contant{
    padding-top: 80px;
}
#early .early-contant h1{
    color: #001931;
    margin-bottom: 16px;
}
#early .early-contant p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 24px;
}
.free{

    color: #627382;
    font-size: 16px;
    margin-top: 24px; 
}